<body>

    <!-- Wrapper -->
    <div id="wrapper" class="wrapper">

        <header>

            <div class="top-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <ul class="header-contact-info">
                                <li>Welcome to LenzKart</li>

                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <ul class="header-top-menu">
                                <li>
                                    <a href="/login"><i class="bx bxs-user"></i> Register</a>
                                </li>
                                <li>
                                    <a href="/login"><i class="bx bx-log-in"></i> Login</a>
                                </li>
                            </ul>
                            <ul class="header-top-others-option">
                                <div class="option-item">
                                    <div class="search-btn-box">
                                        <i class="search-btn bx bx-search-alt"></i>
                                    </div>
                                </div>
                                <div class="option-item">
                                    <div class="cart-btn">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#shoppingCartModal"><i
                                                class="bx bx-shopping-bag"></i><span>0</span></a>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar-area">
                <div class="xton-responsive-nav">
                    <div class="container">
                        <div class="xton-responsive-menu">
                            <div class="logo">
                                <a href="/index">
                                    <img src="assets/img/logo/logo1.png" class="main-logo" alt="logo" />
                                    <img src="assets/img/white-logo.png" class="white-logo" alt="logo" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="xton-nav">
                    <div class="container">
                        <nav class="navbar navbar-expand-md navbar-light">
                            <a class="navbar-brand" href="/index">
                                <img src="assets/img/logo/logo1.png" class="main-logo" alt="logo" />
                                <img src="assets/img/white-logo.png" class="white-logo" alt="logo" />
                            </a>
                            <div class="collapse navbar-collapse mean-menu">
                                <ul class="navbar-nav">
                                    <li class="nav-item megamenu">
                                        <a href="/index" class="nav-link ">Home </a>

                                    </li>
                                    <li class="nav-item megamenu">
                                        <a href="/shop" class="nav-link ">Glasses </a>
                                    </li>
                                    <li class="nav-item megamenu">
                                        <a href="/shoplenzes" class="nav-link ">Lenzes </a>
                                    </li>

                                    <li class="nav-item megamenu">
                                        <a href="/cart" class="nav-link ">Cart </a>
                                    </li>

                                    <li class="nav-item megamenu">
                                        <a href="/wishlist" class="nav-link ">Wishlist</a>
                                    </li>

                                    <li class="nav-item megamenu">
                                        <a href="/myaccount" class="nav-link">My Account</a>
                                    </li>

                                    <li class="nav-item megamenu">
                                        <a href="/contact" class="nav-link">Contact Us </a>
                                    </li>

                                    <li class="nav-item megamenu">
                                        <a href="/about" class="nav-link">About Us </a>
                                    </li>



                                </ul>






                            </div>

                        </nav>
                    </div>
                </div>
            </div>

            <div class="navbar-area header-sticky">
                <div class="xton-nav">
                    <div class="container">
                        <nav class="navbar navbar-expand-md navbar-light">
                            <a class="navbar-brand" href="/index">
                                <img src="assets/img/logo.png" alt="logo" />
                            </a>
                            <div class="collapse navbar-collapse mean-menu">
                                <ul class="navbar-nav">
                                    <li class="nav-item megamenu">
                                        <a href="/shop" class="nav-link">Glasses </a>
                                    </li>
                                    <li class="nav-item megamenu">
                                        <a href="/shoplenzes" class="nav-link">Lenzes </a>
                                    </li>

                                    <li class="nav-item megamenu">
                                        <a href="/cart" class="nav-link">Cart </a>
                                    </li>

                                    <li class="nav-item megamenu">
                                        <a href="/wishlist" class="nav-link">Wishlist</a>
                                    </li>

                                    <li class="nav-item megamenu">
                                        <a href="/myaccount" class="nav-link">My Account</a>
                                    </li>

                                    <li class="nav-item megamenu">
                                        <a href="/contact" class="nav-link">Contact Us </a>
                                    </li>

                                    <li class="nav-item megamenu">
                                        <a href="/about" class="nav-link">About Us </a>
                                    </li>
                                </ul>
                                <div class="others-option">
                                    <div class="option-item">
                                        <div class="search-btn-box">
                                            <i class="search-btn bx bx-search-alt"></i>
                                        </div>
                                    </div>
                                    <div class="option-item">
                                        <div class="cart-btn">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#shoppingCartModal"><i
                                                    class="bx bx-shopping-bag"></i><span>0</span></a>
                                        </div>
                                    </div>
                                    <div class="option-item">
                                        <div class="burger-menu" data-bs-toggle="modal" data-bs-target="#sidebarModal">
                                            <span class="top-bar"></span>
                                            <span class="middle-bar"></span>
                                            <span class="bottom-bar"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>

        </header>

        <!-- Mobile Menu Start -->
        <div class="mobile-menu mobile-menu-items">

            <div class="mobile-menu-close">
                <button class="close-toggle">
                    <span></span>
                    <span></span>
                </button>
            </div>

            <ul class="main_menu">
                <li>
                    <a href="/index">Home</a>

                </li>
                <li class="drop">
                    <a href="/shopgrid">Shop</a>
                    <ul class="dropdown">
                        <li><a href="/shoplist">Glasses</a></li>
                        <li><a href="/shoplenzes">Lenzes</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/wishlist">Wishlist</a>
                </li>

                <li>
                    <a href="/myaccount">My Account</a>
                </li>

                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="menu-overlay"></div>
        <!-- Mobile Menu End -->

        <!-- Mini Cart Wrap Start -->
        <div class="mini-cart-wrap">

            <!-- Mini Cart Top -->
            <div class="mini-cart-top">
                <button class="close-cart">Close Cart
                    <i class="icofont icofont-close"></i>
                </button>
            </div>

            <!-- Mini Cart Products -->
            <ul class="mini-cart-products">
                <li>
                    <a class="image">
                        <img src="assets/img/product/product-1.jpg" alt="Product">
                    </a>
                    <div class="content">
                        <a href="/singleproduct" class="title">Simple Silacon Glasses</a>
                        <span class="price">Price: $59</span>
                        <span class="qty">Qty: 01</span>
                    </div>
                    <button class="remove">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </li>
                <li>
                    <a class="image">
                        <img src="assets/img/product/product-2.jpg" alt="Product">
                    </a>
                    <div class="content">
                        <a href="/singleproduct" class="title">Simple Easin Glasses</a>
                        <span class="price">Price: $20</span>
                        <span class="qty">Qty: 02</span>
                    </div>
                    <button class="remove">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </li>
                <li>
                    <a class="image">
                        <img src="assets/img/product/product-3.jpg" alt="Product">
                    </a>
                    <div class="content">
                        <a href="/singleproduct" class="title">Simple Macrox Glasses</a>
                        <span class="price">Price: $320</span>
                        <span class="qty">Qty: 03</span>
                    </div>
                    <button class="remove">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </li>
            </ul>
            <!-- Mini Cart Bottom -->
            <div class="mini-cart-bottom">
                <h4 class="sub-total">Total:
                    <span>$120</span>
                </h4>
                <div class="button">
                    <a href="/checkout">CHECKOUT</a>
                    <a href="/cart">VIEW CART</a>
                </div>
            </div>

        </div>
        <!-- Mini Cart Wrap End -->

        <!-- Cart Overlay -->
        <div class="body_overlay"></div>

        <!-- Start Bradcaump area -->
        <div class="bradcaump_area bg_image--4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump_inner text-center">
                            <h2 class="bradcaump-title">About Us</h2>
                            <nav class="bradcaump-content">
                                <a class="breadcrumb_item" href="/index">Home</a>
                                <span id="nipa" class="brd-separetor">/</span>
                                <span class="breadcrumb_item active">About Us</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->

        <!-- Start About Area -->
        <div class="about_area bg--white pt--120 pb--110">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-7 col-12">
                        <div class="about_content">
                            <h2>Why we are the best</h2>
                            <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium,
                                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                                beatae
                                vitae dicta sunt explicabo</h3>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur sint occaecat
                                cupidatat
                                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-12">
                        <div class="thumb">
                            <img src="assets/img/blog/about_welcome.jpg" alt="about img">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start Video Block Area -->
        <div class="video_block_area section-pb-xl">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section_title text-center">
                            <h2>Take A Tour</h2>
                            <p>Eye chasmish are very important for thos whos have some difficult in their eye to see
                                every
                                hing
                                clearly and perfectly</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="video_block_inner">
                            <div class="thumb">
                                <a href="#">
                                    <img src="assets/img/blog/video_block.jpg" alt="video img">
                                </a>
                            </div>
                            <div class="video__btn">

                                <a class="play__btn" href="https://www.youtube.com/watch?v=jFKUtYbrKUk">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Video Block Area -->

        <!-- Start Counterup Area -->
        <div class="counterup_area section-ptb-xl bg_image--5" data-black-overlay="5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="counterup_wrapper">
                            <!-- Start Single Count -->
                            <div class="single_counter mrg-none">
                                <span class="count odometer" data-count-to="20"></span>
                                <h5>Happy Clients</h5>
                            </div>
                            <!-- End Single Count -->
                            <!-- Start Single Count -->
                            <div class="single_counter mrg-none">
                                <span class="count odometer" data-count-to="570"></span>
                                <h5>Happy Clients</h5>
                            </div>
                            <!-- End Single Count -->
                            <!-- Start Single Count -->
                            <div class="single_counter">
                                <span class="count odometer" data-count-to="200"></span>
                                <h5>Happy Clients</h5>
                            </div>
                            <!-- End Single Count -->
                            <!-- Start Single Count -->
                            <div class="single_counter">
                                <span class="count odometer" data-count-to="400"></span>
                                <h5>Happy Clients</h5>
                            </div>
                            <!-- End Single Count -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Counterup Area -->

        <!-- Start Testimonial Area -->
        <div class="testimonial_area bg--white section-ptb-xl">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="testimonial_activation">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Testimonial Area -->



        <!-- End About Area -->


        <!-- Start Footer Area -->
        <footer class="footer_area">
            <div class="footer_top bg-cat--1">
                <div class="container">
                    <div class="row">
                        <!-- Start Single Footer -->
                        <div class="col-lg-3 col-sm-6 col-12 mb--50">
                            <div class="footer_widget">
                                <h2 class="ft_widget_title">Los Angeles</h2>
                                <div class="textwidget">
                                    <p>254 Roselen de Square
                                        <br>Century Street, Haven Tower
                                        <br>Los Angeles, USA
                                    </p>
                                    <p>01254 658 987, 02365 987 456</p>
                                    <p>info&#64;example.com
                                        <br>www.example.com
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <div class="col-lg-3 col-sm-6 col-12 mb--50">
                            <div class="footer_widget">
                                <h2 class="ft_widget_title">Manchester</h2>
                                <div class="textwidget">
                                    <p>254 Roselen de Square
                                        <br>Century Street, Haven Tower
                                        <br>Los Angeles, USA
                                    </p>
                                    <p>01254 658 987, 02365 987 456</p>
                                    <p>info&#64;example.com
                                        <br>www.example.com
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <div class="col-lg-3 col-sm-6 col-12 mb--50">
                            <div class="footer_widget">
                                <h2 class="ft_widget_title">Abu Dhabi</h2>
                                <div class="textwidget">
                                    <p>Oxeler Bin Square
                                        <br>Seleya Street, Silicon Tower
                                        <br>Abu Dhabi, UAE
                                    </p>
                                    <p>09365 856 658, 09683 2656 889</p>
                                    <p>info&#64;example.com
                                        <br>www.example.com
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <div class="col-lg-3 col-sm-6 col-12 mb--50">
                            <div class="footer_widget">
                                <h2 class="ft_widget_title">Canida</h2>
                                <div class="textwidget">
                                    <p>Oxeler Bin Square
                                        <br>Seleya Street, Silicon Tower
                                        <br>Abu Dhabi, UAE
                                    </p>
                                    <p>09365 856 658, 09683 2656 889</p>
                                    <p>info&#64;example.com
                                        <br>www.example.com
                                    </p>
                                </div>
                            </div>
                            <!-- End Single Footer -->
                        </div>
                    </div>
                </div>

                <!-- End Footer Area -->
            </div>
        </footer>
    </div>
    <!--// Wrapper -->


</body>