<body>

    <!-- Wrapper -->
    <div id="wrapper" class="wrapper">

        <!-- Header -->
        <header>

            <div class="top-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <ul class="header-contact-info">
                                <li>Welcome to LenzKart</li>

                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <ul class="header-top-menu">
                                <li>
                                    <a href="/login"><i class="bx bxs-user"></i> Register</a>
                                </li>
                                <li>
                                    <a href="/login"><i class="bx bx-log-in"></i> Login</a>
                                </li>
                            </ul>
                            <ul class="header-top-others-option">
                                <div class="option-item">
                                    <div class="search-btn-box">
                                        <i class="search-btn bx bx-search-alt"></i>
                                    </div>
                                </div>
                                <div class="option-item">
                                    <div class="cart-btn">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#shoppingCartModal"><i
                                                class="bx bx-shopping-bag"></i><span>0</span></a>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar-area">
                <div class="xton-responsive-nav">
                    <div class="container">
                        <div class="xton-responsive-menu">
                            <div class="logo">
                                <a href="/index">
                                    <img src="assets/img/logo/logo1.png" class="main-logo" alt="logo" />
                                    <img src="assets/img/white-logo.png" class="white-logo" alt="logo" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="xton-nav">
                    <div class="container">
                        <nav class="navbar navbar-expand-md navbar-light">
                            <a class="navbar-brand" href="/index">
                                <img src="assets/img/logo/logo1.png" class="main-logo" alt="logo" />
                                <img src="assets/img/white-logo.png" class="white-logo" alt="logo" />
                            </a>
                            <div class="collapse navbar-collapse mean-menu">
                                <ul class="navbar-nav">
                                    <li class="nav-item megamenu">
                                        <a href="/index" class="nav-link ">Home </a>

                                    </li>
                                    <li class="nav-item megamenu">
                                        <a href="/shop" class="nav-link ">Glasses </a>
                                    </li>
                                    <li class="nav-item megamenu">
                                        <a href="/shoplenzes" class="nav-link ">Lenzes </a>
                                    </li>

                                    <li class="nav-item megamenu">
                                        <a href="/cart" class="nav-link ">Cart </a>
                                    </li>

                                    <li class="nav-item megamenu">
                                        <a href="/wishlist" class="nav-link ">Wishlist</a>
                                    </li>

                                    <li class="nav-item megamenu">
                                        <a href="/myaccount" class="nav-link">My Account</a>
                                    </li>

                                    <li class="nav-item megamenu">
                                        <a href="/contact" class="nav-link">Contact Us </a>
                                    </li>

                                    <li class="nav-item megamenu">
                                        <a href="/about" class="nav-link">About Us </a>
                                    </li>



                                </ul>






                            </div>

                        </nav>
                    </div>
                </div>
            </div>

            <div class="navbar-area header-sticky">
                <div class="xton-nav">
                    <div class="container">
                        <nav class="navbar navbar-expand-md navbar-light">
                            <a class="navbar-brand" href="/index">
                                <img src="assets/img/logo.png" alt="logo" />
                            </a>
                            <div class="collapse navbar-collapse mean-menu">
                                <ul class="navbar-nav">
                                    <li class="nav-item megamenu">
                                        <a href="/shop" class="nav-link">Glasses </a>
                                    </li>
                                    <li class="nav-item megamenu">
                                        <a href="/shoplenzes" class="nav-link">Lenzes </a>
                                    </li>

                                    <li class="nav-item megamenu">
                                        <a href="/cart" class="nav-link">Cart </a>
                                    </li>

                                    <li class="nav-item megamenu">
                                        <a href="/wishlist" class="nav-link">Wishlist</a>
                                    </li>

                                    <li class="nav-item megamenu">
                                        <a href="/myaccount" class="nav-link">My Account</a>
                                    </li>

                                    <li class="nav-item megamenu">
                                        <a href="/contact" class="nav-link">Contact Us </a>
                                    </li>

                                    <li class="nav-item megamenu">
                                        <a href="/about" class="nav-link">About Us </a>
                                    </li>
                                </ul>
                                <div class="others-option">
                                    <div class="option-item">
                                        <div class="search-btn-box">
                                            <i class="search-btn bx bx-search-alt"></i>
                                        </div>
                                    </div>
                                    <div class="option-item">
                                        <div class="cart-btn">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#shoppingCartModal"><i
                                                    class="bx bx-shopping-bag"></i><span>0</span></a>
                                        </div>
                                    </div>
                                    <div class="option-item">
                                        <div class="burger-menu" data-bs-toggle="modal" data-bs-target="#sidebarModal">
                                            <span class="top-bar"></span>
                                            <span class="middle-bar"></span>
                                            <span class="bottom-bar"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>

        </header>

        <!-- Mobile Menu Start -->
        <div class="mobile-menu mobile-menu-items">

            <div class="mobile-menu-close">
                <button class="close-toggle">
                    <span></span>
                    <span></span>
                </button>
            </div>

            <ul class="main_menu">
                <li>
                    <a href="/index">Home</a>

                </li>
                <li class="drop">
                    <a href="/shopgrid">Shop</a>
                    <ul class="dropdown">
                        <li><a href="/shoplist">Glasses</a></li>
                        <li><a href="/shoplenzes">Lenzes</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/wishlist">Wishlist</a>
                </li>

                <li>
                    <a href="/myaccount">My Account</a>
                </li>

                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="menu-overlay"></div>
        <!-- Mobile Menu End -->

        <!-- Mini Cart Wrap Start -->
        <div class="mini-cart-wrap">

            <!-- Mini Cart Top -->
            <div class="mini-cart-top">
                <button class="close-cart">Close Cart
                    <i class="icofont icofont-close"></i>
                </button>
            </div>

            <!-- Mini Cart Products -->
            <ul class="mini-cart-products">
                <li>
                    <a class="image">
                        <img src="assets/img/product/product-1.jpg" alt="Product">
                    </a>
                    <div class="content">
                        <a href="/singleproduct" class="title">Simple Silacon Glasses</a>
                        <span class="price">Price: $59</span>
                        <span class="qty">Qty: 01</span>
                    </div>
                    <button class="remove">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </li>
                <li>
                    <a class="image">
                        <img src="assets/img/product/product-2.jpg" alt="Product">
                    </a>
                    <div class="content">
                        <a href="/singleproduct" class="title">Simple Easin Glasses</a>
                        <span class="price">Price: $20</span>
                        <span class="qty">Qty: 02</span>
                    </div>
                    <button class="remove">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </li>
                <li>
                    <a class="image">
                        <img src="assets/img/product/product-3.jpg" alt="Product">
                    </a>
                    <div class="content">
                        <a href="/singleproduct" class="title">Simple Macrox Glasses</a>
                        <span class="price">Price: $320</span>
                        <span class="qty">Qty: 03</span>
                    </div>
                    <button class="remove">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </li>
            </ul>
            <!-- Mini Cart Bottom -->
            <div class="mini-cart-bottom">
                <h4 class="sub-total">Total:
                    <span>$120</span>
                </h4>
                <div class="button">
                    <a href="/checkout">CHECKOUT</a>
                    <a href="/cart">VIEW CART</a>
                </div>
            </div>

        </div>
        <!-- Mini Cart Wrap End -->

        <!-- Cart Overlay -->
        <div class="body_overlay"></div>

        <!-- Start Bradcaump area -->
        <div class="bradcaump_area bg_image--4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump_inner text-center">
                            <h2 class="bradcaump-title">Checkout</h2>
                            <nav class="bradcaump-content">
                                <a class="breadcrumb_item" href="/index">Home</a>
                                <span class="brd-separetor">/</span>
                                <span class="breadcrumb_item active">Checkout</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->

        <!-- Checkout Page Start -->
        <div class="checkout_area pt--120 pb--60">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <!-- Checkout Form s-->
                        <form action="#" class="checkout-form">
                            <div class="row">

                                <div class="col-lg-7 mb--20">

                                    <!-- Billing Address -->
                                    <div id="billing-form" class="mb--40">
                                        <h4 class="checkout-title">Billing Address</h4>

                                        <div class="row">

                                            <div class="col-md-6 col-12 mb--20">
                                                <label>First Name*</label>
                                                <input type="text" placeholder="First Name">
                                            </div>

                                            <div class="col-md-6 col-12 mb--20">
                                                <label>Last Name*</label>
                                                <input type="text" placeholder="Last Name">
                                            </div>

                                            <div class="col-md-6 col-12 mb--20">
                                                <label>Email Address*</label>
                                                <input type="email" placeholder="Email Address">
                                            </div>

                                            <div class="col-md-6 col-12 mb--20">
                                                <label>Phone no*</label>
                                                <input type="text" placeholder="Phone number">
                                            </div>

                                            <div class="col-12 mb--20">
                                                <label>Company Name</label>
                                                <input type="text" placeholder="Company Name">
                                            </div>

                                            <div class="col-12 mb--20">
                                                <label>Address*</label>
                                                <input type="text" placeholder="Address line 1">
                                                <input type="text" placeholder="Address line 2">
                                            </div>

                                            <div class="col-md-6 col-12 mb--20">
                                                <label>Country*</label>
                                                <select class="nice-select">
                                                    <option>Bangladesh</option>
                                                    <option>China</option>
                                                    <option>country</option>
                                                    <option>India</option>
                                                    <option>Japan</option>
                                                </select>
                                            </div>

                                            <div class="col-md-6 col-12 mb--20">
                                                <label>Town/City*</label>
                                                <input type="text" placeholder="Town/City">
                                            </div>

                                            <div class="col-md-6 col-12 mb--20">
                                                <label>State*</label>
                                                <input type="text" placeholder="State">
                                            </div>

                                            <div class="col-md-6 col-12 mb--20">
                                                <label>Zip Code*</label>
                                                <input type="text" placeholder="Zip Code">
                                            </div>

                                            <div class="col-12 mb--20">
                                                <div class="check-box">
                                                    <input type="checkbox" id="create_account">
                                                    <label for="create_account">Create an Acount?</label>
                                                </div>
                                                <div class="check-box">
                                                    <input type="checkbox" id="shiping_address" data-shipping>
                                                    <label for="shiping_address">Ship to Different Address</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Shipping Address -->
                                    <div id="shipping-form">
                                        <h4 class="checkout-title">Shipping Address</h4>
                                        <div class="row">
                                            <div class="col-md-6 col-12 mb--20">
                                                <label>First Name*</label>
                                                <input type="text" placeholder="First Name">
                                            </div>

                                            <div class="col-md-6 col-12 mb--20">
                                                <label>Last Name*</label>
                                                <input type="text" placeholder="Last Name">
                                            </div>

                                            <div class="col-md-6 col-12 mb--20">
                                                <label>Email Address*</label>
                                                <input type="email" placeholder="Email Address">
                                            </div>

                                            <div class="col-md-6 col-12 mb--20">
                                                <label>Phone no*</label>
                                                <input type="text" placeholder="Phone number">
                                            </div>

                                            <div class="col-12 mb--20">
                                                <label>Company Name</label>
                                                <input type="text" placeholder="Company Name">
                                            </div>

                                            <div class="col-12 mb--20">
                                                <label>Address*</label>
                                                <input type="text" placeholder="Address line 1">
                                                <input type="text" placeholder="Address line 2">
                                            </div>

                                            <div class="col-md-6 col-12 mb--20">
                                                <label>Country*</label>
                                                <select class="nice-select">
                                                    <option>Bangladesh</option>
                                                    <option>China</option>
                                                    <option>country</option>
                                                    <option>India</option>
                                                    <option>Japan</option>
                                                </select>
                                            </div>

                                            <div class="col-md-6 col-12 mb--20">
                                                <label>Town/City*</label>
                                                <input type="text" placeholder="Town/City">
                                            </div>

                                            <div class="col-md-6 col-12 mb--20">
                                                <label>State*</label>
                                                <input type="text" placeholder="State">
                                            </div>

                                            <div class="col-md-6 col-12 mb--20">
                                                <label>Zip Code*</label>
                                                <input type="text" placeholder="Zip Code">
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="col-lg-5">
                                    <div class="row">

                                        <!-- Cart Total -->
                                        <div class="col-12 mb--60">

                                            <h4 class="checkout-title">Cart Total</h4>

                                            <div class="checkout-cart-total">

                                                <h4>Product <span>Total</span></h4>

                                                <ul>
                                                    <li>Samsome Notebook Pro 5 X 01 <span>$295.00</span></li>
                                                    <li>Aquet Drone D 420 X 02 <span>$550.00</span></li>
                                                    <li>Play Station X 22 X 01 <span>$295.00</span></li>
                                                    <li>Roxxe Headphone Z 75 X 01 <span>$110.00</span></li>
                                                </ul>

                                                <p>Sub Total <span>$1250.00</span></p>
                                                <p>Shipping Fee <span>$00.00</span></p>

                                                <h4>Grand Total <span>$1250.00</span></h4>

                                            </div>

                                        </div>

                                        <!-- Payment Method -->
                                        <div class="col-12 mb--60">

                                            <h4 class="checkout-title">Payment Method</h4>

                                            <div class="checkout-payment-method">

                                                <div class="single-method">
                                                    <input type="radio" id="payment_check" name="payment-method"
                                                        value="check">
                                                    <label for="payment_check">Check Payment</label>
                                                    <p data-method="check">Please send a Check to Store name with Store
                                                        Street, Store Town, Store State, Store Postcode, Store Country.
                                                    </p>
                                                </div>

                                                <div class="single-method">
                                                    <input type="radio" id="payment_bank" name="payment-method"
                                                        value="bank">
                                                    <label for="payment_bank">Direct Bank Transfer</label>
                                                    <p data-method="bank">Please send a Check to Store name with Store
                                                        Street, Store Town, Store State, Store Postcode, Store Country.
                                                    </p>
                                                </div>

                                                <div class="single-method">
                                                    <input type="radio" id="payment_cash" name="payment-method"
                                                        value="cash">
                                                    <label for="payment_cash">Cash on Delivery</label>
                                                    <p data-method="cash">Please send a Check to Store name with Store
                                                        Street, Store Town, Store State, Store Postcode, Store Country.
                                                    </p>
                                                </div>

                                                <div class="single-method">
                                                    <input type="radio" id="payment_paypal" name="payment-method"
                                                        value="paypal">
                                                    <label for="payment_paypal">Paypal</label>
                                                    <p data-method="paypal">Please send a Check to Store name with Store
                                                        Street, Store Town, Store State, Store Postcode, Store Country.
                                                    </p>
                                                </div>

                                                <div class="single-method">
                                                    <input type="radio" id="payment_payoneer" name="payment-method"
                                                        value="payoneer">
                                                    <label for="payment_payoneer">Payoneer</label>
                                                    <p data-method="payoneer">Please send a Check to Store name with
                                                        Store Street, Store Town, Store State, Store Postcode, Store
                                                        Country.</p>
                                                </div>

                                                <div class="single-method">
                                                    <input type="checkbox" id="accept_terms">
                                                    <label for="accept_terms">I’ve read and accept the terms &
                                                        conditions</label>
                                                </div>

                                            </div>

                                            <button class="place-order">Place order</button>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- Checkout Page End -->


        <!-- Start Footer Area -->
        <footer class="footer_area">
            <div class="footer_top bg-cat--1">
                <div class="container">
                    <div class="row">
                        <!-- Start Single Footer -->
                        <div class="col-lg-3 col-sm-6 col-12 mb--50">
                            <div class="footer_widget">
                                <h2 class="ft_widget_title">Los Angeles</h2>
                                <div class="textwidget">
                                    <p>254 Roselen de Square
                                        <br>Century Street, Haven Tower
                                        <br>Los Angeles, USA
                                    </p>
                                    <p>01254 658 987, 02365 987 456</p>
                                    <p>info&#64;example.com
                                        <br>www.example.com
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <div class="col-lg-3 col-sm-6 col-12 mb--50">
                            <div class="footer_widget">
                                <h2 class="ft_widget_title">Manchester</h2>
                                <div class="textwidget">
                                    <p>254 Roselen de Square
                                        <br>Century Street, Haven Tower
                                        <br>Los Angeles, USA
                                    </p>
                                    <p>01254 658 987, 02365 987 456</p>
                                    <p>info&#64;example.com
                                        <br>www.example.com
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <div class="col-lg-3 col-sm-6 col-12 mb--50">
                            <div class="footer_widget">
                                <h2 class="ft_widget_title">Abu Dhabi</h2>
                                <div class="textwidget">
                                    <p>Oxeler Bin Square
                                        <br>Seleya Street, Silicon Tower
                                        <br>Abu Dhabi, UAE
                                    </p>
                                    <p>09365 856 658, 09683 2656 889</p>
                                    <p>info&#64;example.com
                                        <br>www.example.com
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <div class="col-lg-3 col-sm-6 col-12 mb--50">
                            <div class="footer_widget">
                                <h2 class="ft_widget_title">Canida</h2>
                                <div class="textwidget">
                                    <p>Oxeler Bin Square
                                        <br>Seleya Street, Silicon Tower
                                        <br>Abu Dhabi, UAE
                                    </p>
                                    <p>09365 856 658, 09683 2656 889</p>
                                    <p>info&#64;example.com
                                        <br>www.example.com
                                    </p>
                                </div>
                            </div>
                            <!-- End Single Footer -->
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <!-- End Footer Area -->
    </div>
    <!--// Wrapper -->

</body>